# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Hardhat artifacts
artifacts/
cache/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Dist build
frontend/dist/

# IDE
.vscode/
.idea/
.DS_Store

# MetaMask Permissions Cache (if stored)
.metamask/
